* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 53px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    //font-family:'Noto Serif',serif;
    font-size: 18px;
    text-align: center;
    background-color: #fff;


}





//nav fixed-top
.navbar-fixed-top {
    background-color: #282629 !important;
    opacity: 1;
    border: 1px #282629 solid;

}

.search-bar {
    margin-top: 7px;
}

#shopping-cart {
    font-size: 33px;
    color:#f69400;
    &:hover{
        i{
            
            opacity: 0.9;
        }

    }


}

.btnDangNhap {
    &:hover {
        color: #c20d2e !important;
    }
}

//formDangNhap
//style cho input
.input-formDangNhap {
    width: 100%;
    margin-top: 30px;
}

.input-formQuenmk {
    width: 100%;
    height: 50px;
    background-color: #282629;

    a {
        color: #c20d2e;
    }

    .psw {
        float: left;
        margin-top: 10px;
    }

    .dangKi {
        float: right;
        margin-top: 10px;
    }

}

.imgContainer {

    position: relative;
}

.input-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px #282629 solid;
    box-sizing: border-box;
}

//style cho btn
.buttonForm {
    background-color: #f69400;
    color: white;
    padding: 14px 20px;
    //margin: 20px 0;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 50%;
    border: 1px #f69400 solid;
    border-radius: 5px;

    &:hover {
        opacity: 0.8;
    }
}





.avatar {
    width: 40%;
    border-radius: 50%;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */

    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #282629;
    // opacity: background-color .5;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #282629;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 17px;
    top: 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;

    &:hover {
        color: red;
        cursor: pointer;

    }
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .psw {
        display: block;
        float: none;
    }


}

//end formDangNhap

//end navfixed-top
//
//nav không fixed-top
#mainnavigation {
    padding-left: 100px;

    li {

        a {

            color: #fff;

            &:hover {
                color: #c20d2e;
            }

        }
    }



}

.tieuDe {
    font-size: 20px;
}

#nav-notfixed {
    margin-bottom: 0;
    background-color: #282629;
    border: 1px #282629 solid;
    border-top: 1px #f69400 solid;
}

////super-nav
.dropdown-large {
    position: static !important;

}

.dropdown-hover {



    &:hover {


        .dropdown-menu-large {
            display: block;
            background-color: #282629;
            opacity: 0.9;




        }
    }
}

.dropdown-menu-large {
    display: none;

    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
    width: 100%;


    li {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;

                a {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weght: 300;
                    line-height: 1.428571429;
                    color: #fff;
                    white-space: nomal;

                    &:hover {
                        text-decoration: none;
                        color: #c20d2e !important;

                    }

                    &:focus {
                        text-decoration: none;
                        color: #c20d2e;

                    }
                }
            }
        }
    }

    .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }
}

@media (max-width:100%) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;

        li {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .dropdown-header {
            padding: 3px 15px !important;
        }
    }

}

////end super-nav

//end 

//MANY THING

//END MANY THING




//Footer

.page-footer {
    background-color: #282629;
a{
    font-size:18px;
}


    .so-icon {
        a {
            margin-right: 0;
            font-size: 28px;
            color: black;
            text-decoration: none;
        }
    }

}

//end